{% if a.time_range is not none %}
ip access-list extended {{a.name}}
{% if a.source is not none and a.destination is not none %}
permit ip {{a.source}} {{a.source_wild_card}} {{a.destination}} {{a.destination_wild_card}} time-range {{a.time_range.name}}

{% elif a.source is not none %}
permit ip {{a.source}} {{a.source_wild_card}} any time-range {{a.time_range.name}}

{% elif a.destination is not none %}
permit ip any {{a.destination}} {{a.destination_wild_card}} time-range {{a.time_range.name}}
{% else %}
permit ip any any time-range {{a.time_range.name}}
{% endif %}
{% else %}
{% if a.source is not none and a.destination is not none %}
permit ip {{a.source}} {{a.source_wild_card}} {{a.destination}} {{a.destination_wild_card}}

{% elif a.source is not none %}
permit ip {{a.source}} {{a.source_wild_card}} any

{% elif a.destination is not none %}
permit ip any {{a.destination}} {{a.destination_wild_card}}
{% else %}
permit ip any any
{% endif %}
{% endif %}
