{% for class in classes %}
class-map {{class.name}}
match {{class.match}}
{% endfor %}
exit
policy-map {{a.name}}
{% for class in classes %}
class {{class.name}}
set dscp {{class.dscp_value}}
{% endfor %}
